{{ .Scratch.Set "body_class" "landing" }}
{{ partial "header.html" . }}
<section id="eye-catch">
    <div>
        <div>
            <h1>Linux but Dragonified</h1>
            <p>Dragon Linux aims to bring you a Dragon themed Linux® experience.</p>
            <a href="/about" class="more">Learn more<i class="fas fa-angle-right more"></i></a>
            <h2>Download the ISO today</h2>
            <pre><a href="#download"><code id="curl">Download</code></a></pre>
            <h3><a class="more" href="/ubuntu/#device-support">Device support<i class="fas fa-angle-right more"></i></a></h3>
        </div>
        <div>
            <img class="laptop" src="/img/merge/desktop.png?{{ slicestr (readFile "static/img/merge/desktop.png" | md5) 0 8 }}" alt="Dragon Linux on a laptop">
        </div>
    </div>
</section>
<section id="download">
    <div class="center-title">
        <h1><a class="stealth" href="/ubuntu">Download</a></h1>
    </div>
    <div class="download-card center-card">
        <i class="big-icon fas fa-arrow-down"></i>
        <p>Ubuntu Dragon Remix is now released!</p>
        <a href="/ubuntu" class="more">Read the announcement<i class="fas fa-angle-right more"></i></a>
    </div>
</section>
<section id="community" class="white-text">
    <div class="center-title">
        <h1>Community</h1>
    </div>
    <div class="community-links">
        <div class="community-fedora">
            <div class="community-card">
                <div class="community-icons">
                    <i class="big-icon fab fa-discord"></i>
                </div>
                <div class="community-text">
                    <p>Ask questions and talk with other users on our little corner on Discord!</p>
                </div>
            </div>
            <div class="community-button discourse-button">
                <a rel="me" href="/community" class="mastodon-button rounded-button"><i class="fab fa-discord"></i> Dragon Linux Discussion</a>
            </div>
        </div>
        <div class="community-twitter">
            <div class="community-card">
                <div class="community-icons">
                    <i class="big-icon fab fa-mastodon"></i>
                </div>
                <div class="community-text">
                    <p>Follow us on Mastodon to get announcements and other information.</p>
                </div>
            </div>
            <div class="community-button twitter-buttons">
                <a rel="me" href="https://nerdculture.de/@astafathersatan" class="mastodon-button rounded-button"><i class="fab fa-mastodon"></i> Check us out on Mastodon</a>
            </div>
        </div>
        </div>
    </div>
</section>
<section id="contribute">
    <div class="center-title">
        <h1>Contribute</h1>
    </div>
    <div class="contribute-card center-card">
        <i class="big-icon fab fa-github"></i>
        <p>Dragon Linux and the open source projects it depends on are made possible by communities of volunteers. All contributors are welcome, of any skill level!</p>
        <a href="/contribute" class="more">How to contribute<i class="fas fa-angle-right more"></i></a>
    </div>
</section>
<script>
document.addEventListener("DOMContentLoaded", function() {
    var btn = document.getElementById("copy-button");
    btn.onmouseover = function(e) {
        btn.firstChild.classList.remove("fa-check");
        btn.firstChild.classList.add("fa-clipboard");
    }
    btn.onclick = function(e) {
        var text = document.getElementById("curl");
        window.getSelection().selectAllChildren(text);
        navigator.clipboard.writeText(text.textContent);
        btn.firstChild.classList.add("fa-check");
        btn.firstChild.classList.remove("fa-clipboard");
        e.preventDefault();
    };
});
</script>
{{ partial "footer.html" . }}
